.card {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 4rem;
}

.center {
  text-align: center;
  padding-bottom: 3rem;
}

.grafico {
  margin-bottom: 3rem;
}
